DATA_GOV_API_KEY=your_actual_key_here
OPENWEATHER_API_KEY=your_actual_key_here
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=mistral
CHROMA_DB_PATH=./chroma_db
MANDI_RESOURCE_ID=9ef84268-d588-465a-a308-a864a43d0070
MANDI_CACHE_TTL=3600
WEATHER_CACHE_TTL=1800
DEFAULT_LANG=hi